//寬度自定義




body{
    background: #E0D8D4;
}


.navbar{
background-color: #D9BCB8;
height: 170px;
img{
    height: 100px;
    // background-image: url("/img/logoB.png");

}
}
.indexBanner{
    background-image:url("/img/NU_46be0f4a2c64da1e3bdeaae49bfc64d3.jpg");
}
.brandContent{
    background-color: #ffffff;
}