.navbar{
    background-color: $VARaspberry;
    height: 10rem;


    .dpSpaceBetween{
        font-size: 1rem;
        display: flex;
        justify-content: space-between;

    }

    ul{
        display: flex;
        justify-content: center;
        align-self:center;
        li{
            margin: 0 1rem;
        }
    }
    a{
        color: $VADarkOrange;
    }
    
    img{
        height: 10rem;
    }}

