.commodityBanner{
    height: 10rem;
    overflow:hidden;
    img{
        width: 100%;
        height: auto;
        text-align: center;
    }   

}

.searchSort{
    display: flex;
    .sortBtn{
        font-size: 1.2rem;
        margin-top: 3rem;
        margin-right: 1rem;

        a{
            padding:0.5rem;
            background-color: $VADarkGray;
            color: $VADarkOrange;
        }
        a:hover{ 
            background-color: white;
            border: 1px solid $VABorder;
        }
    }

}

.commodity{
    li{
        padding: 0;
    }
}


