.deliveryContent{
    margin: 2rem auto;
    width: 35rem;
}
.stepBtn{
    margin-top: 3rem;
    color:$VADarkGray;
    .nextBtn{
        margin: 0;
    }
    .previousBtn:hover{
        background-color: #08DF5D;
        color:white;
    }
}

.nextBtn {
    width: 18rem
}