.cartSp5 {
    margin: 2rem auto;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.cartContentList {
    th {
        text-align: left;
    }
    td {
        img {
            height: 5rem;
            text-align: center;
        }
    }
}
