<!-- index.nunjucks -->
{% extends "layout.html" %}
<!--Title setting-->
{% block title %}產品介紹{% endblock %}
<!--Nav setting-->
{% block navigation %}
{% import 'nav.html' as nav %}
<!-- Set navcol-lg-4 to active -->
{{nav.active('product')}}
{% endblock %}

{% block HeadContent %}
{% endblock %}

{% block content %}
<div class="pg-body pg-product-list">
    <div class="container">
        <div class="row gx-5">
            <div class="col-md-2">
                {% include "product-Navbar.html" %}
            </div>
            <div class="col-md-10">
                <div class="product-banner">
                    <div class="container">
                        <img src="images/pexels.jpg" class="" alt="">
                    </div>

                </div>
                <!-- {% include "breadcrumb.html" %} -->
                <div class="m-2">
                    <a href="#" class="btn btn-sort">價格由低至高</a>
                    <a href="#" class="btn btn-sort">價格由高至低</a>
                </div>

                <div class="product-list">
                    <div class="product-list">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="product-card">
                                    <a href="product-detail.html" class="">
                                        <div class="cover">
                                            <div class="img-aspect">
                                                <img src="images/Coffee-Pouch-1-800.jpg" class="" alt="">
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="title">台灣 阿里山 日曬 賽利納</div>
                                            <div class="price">NT.1490</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-card">
                                    <a href="product-detail.html" class="">
                                        <div class="cover">
                                            <div class="img-aspect">
                                                <img src="images/Coffee-Pouch-1-800.jpg" class="" alt="">
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="title">台灣 阿里山 日曬 賽利納</div>
                                            <div class="price">NT.1490</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-card">
                                    <a href="product-detail.html" class="">
                                        <div class="cover">
                                            <div class="img-aspect">
                                                <img src="images/Coffee-Pouch-1-800.jpg" class="" alt="">
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="title">台灣 阿里山 日曬 賽利納</div>
                                            <div class="price">NT.1490</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-card">
                                    <a href="product-detail.html" class="">
                                        <div class="cover">
                                            <div class="img-aspect">
                                                <img src="images/Coffee-Pouch-1-800.jpg" class="" alt="">
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="title">台灣 阿里山 日曬 賽利納</div>
                                            <div class="price">NT.1490</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-card">
                                    <a href="product-detail.html" class="">
                                        <div class="cover">
                                            <div class="img-aspect">
                                                <img src="images/Coffee-Pouch-1-800.jpg" class="" alt="">
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="title">台灣 阿里山 日曬 賽利納</div>
                                            <div class="price">NT.1490</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="product-card">
                                    <a href="product-detail.html" class="">
                                        <div class="cover">
                                            <div class="img-aspect">
                                                <img src="images/Coffee-Pouch-1-800.jpg" class="" alt="">
                                            </div>
                                        </div>
                                        <div class="caption">
                                            <div class="title">台灣 阿里山 日曬 賽利納</div>
                                            <div class="price">NT.1490</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- {% include "pagination.html" %} -->
                </div>
            </div>
        </div>

    </div>

</div>
{% endblock %}

{% block js %}
{% endblock %}