/*- 價格 -*/
.bk-price {
    display: flex;
    align-items: center;

    .price-onsale {
        color: $primary;
        margin-right: .5rem;

        +.price-regular {
            font-size: .875rem;
            color: rgba($body-color, .5);
            text-decoration: line-through;
        }
    }
}

/*- 單向商品項目 -*/
.product-page {
    .cover {
        .img-aspect {
            border-radius: 4px;
            overflow: hidden;
            margin: 0 20px;

            img {
                width: 100%;
                height: 300px;
                object-fit: cover;
                object-position: center;
            }
        }
    }
}

.product-info {
    color: $primary;

    .title {
        font-size: 2rem;

    }
}

/*- 購物車 -*/
.quantity-selector {
    margin-bottom: 20px;

    .label {
        font-size: 16px;
    }

    .quantity-control {
        display: flex;
        align-items: stretch;
        width: 100%;
        height: 40px;

        .btn-control {
            width: 40px;
            border: 1px solid #ccc;
            background: white;
            font-size: 20px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        input {
            width: 70px;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;
            border-left: 0;
            border-right: 0;
            text-align: center;
            font-size: 16px;
            border-radius: 0;
        }

        .btn-minus,
        .btn-plus {
            border: 1px solid #ccc;
            font-size: 1rem;
            width: 40px;
            height: 40px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background: $white;

        }

        .btn-minus {
            border-radius: 4px 0 0 4px;
            font-size: 1.2rem;
        }

        .btn-plus {
            border-radius: 0 4px 4px 0;
        }
    }
}

.btn-add-cart {
    background-color: $primary;
    color: $white;
    height: 40px;
}

.total-price {
    color: $primary;

    .label {
        font-size: 1.25rem;

    }

    .unit-price {
        font-size: 2rem;
    }
}

/*- 商品項目清單 -*/
.product-item {
    position: relative;
    align-items: center;
    margin-bottom: 1.5rem;

    .caption {
        padding: 1rem;

        .title {
            font-size: 1rem;
            line-height: 1.25;
            text-align: center;
            text-overflow: ellipsis;
            display: -webkit-box;
            // -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            height: 2.5rem;
        }

        .bk-price {
            justify-content: center;
            margin-top: 8px;
        }

        .bk-label {
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 4px;
            margin: 0;

            .label-discount,
            .label-promotion {
                display: flex;
                flex-direction: column;
            }

            .label-promotion {
                align-items: end;
            }
        }
    }
}

/*- 商品項目 Banner -*/
.product-banner {
    margin-bottom: 32px;
    width: auto;
    height: 260px;
    overflow: hidden;
    border-radius: 4px;

    &.container {
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: center -215px;
    }
}

.btn-sort {
    color: $primary;
    border: 1px solid $primary;

}

/*- 產品側選單 -*/
.sidebar {
    padding: 20px 0;
}

.sidebar,
.sidebar a {
    color: $primary;
}

.category {
    &-title {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 20px;
        font-size: 18px;
        display: flex; // 添加 flex 布局
        align-items: center; // 垂直居中對齊
        margin-bottom: 20px; // 底部間距

        &::before {
            content: "|";
            display: inline-block;
            font-weight: 700;
            margin-right: 8px;
            color: $primary;
        }
    }

    &-icon {
        font-weight: bold;
        color: #333;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 16px;

        >.category-item:nth-child(1),
        >.category-item:nth-child(2) {
            border-bottom: 1px solid #E5E5E5;
            padding-bottom: 16px;
        }
    }

    &-item {
        text-decoration: none;
        color: #333;
        padding: 8px 0;
        display: block;
    }

    &-group {
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 16px;

        &-title {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-content {
            display: none; // 預設隱藏子項目
            flex-direction: column;
            gap: 12px;
            margin-top: 12px;
            padding-left: 20px;

            &.active {
                display: flex; // 當有 active class 時顯示
            }
        }
    }

    &-subitem {
        text-decoration: none;
        color: #666;
        font-weight: 300;
    }
}

.arrow-down {
    border: solid #333;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin: 0 10px 4px 0;
    transition: transform 0.3s ease;

    &.active {
        transform: rotate(-135deg); // 箭頭向上
    }
}